/* Importing the Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

/* Defining root variables for colors and border */
:root{
   --main-color:#2B1103;
   --sub-color:#DCC69C;
   --white:#fff;
   --border:.1rem solid rgba(220, 198, 156, .3);
}

/* Resetting default styles for all elements */
*{
   font-family: 'Montserrat', sans-serif;
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

/* Styling text selection */
*::selection{
   background-color: var(--sub-color);
   color: var(--main-color);
}

/* Styling scrollbar */
*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

/* Styling scrollbar track */
*::-webkit-scrollbar-track{
   background-color: transparent;
}

/* Styling scrollbar thumb */
*::-webkit-scrollbar-thumb{
   background-color: var(--sub-color);
   border-radius: 5rem;
}

/* Setting base font size */
html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 2rem;
}

/* Setting background color for body */
body{
   background-color: var(--main-color);
}

/* Styling for generic sections */
section{
   padding: 3rem 2rem;
   max-width: 1200px;
   margin: 0 auto;
}

/* Styling for buttons */
.btn{
   /* Button display and cursor */
   display: inline-block;
   cursor: pointer;
   /* Button padding and border */
   padding: 1rem 3rem;
   border: var(--border);
   /* Button font size, color, and alignment */
   font-size: 1.8rem;
   color: var(--sub-color);
   text-align: center;
   text-transform: capitalize;
   /* Button transition */
   transition: .2s linear;
   margin-top: 1rem;
   background-color: var(--main-color);
}

/* Hover effect for buttons */
.btn:hover{
   border-radius: 5rem;
   background-color: var(--sub-color);
   color: var(--main-color);
}

/* Styling for header */
.header{
   padding-bottom: 0;
}

/* Styling for header flex container */
.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
}

/* Styling for logo */
.header .flex .logo{
   color: var(--sub-color);
   font-size: 2.5rem;
}

/* Styling for buttons in header */
.header .flex .btn{
   margin-top: 0;
}

/* Styling for menu icon in header */
.header .flex .fa-bars{
   font-size: 3rem;
   cursor: pointer;
   color: var(--sub-color);
   display: none;
}

/* Styling for navbar */
.header .navbar{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 1.5rem;
   margin-top: 2rem;
   background-color: var(--sub-color);
   padding: .5rem;
   border-radius: .5rem;
}

/* Styling for links in navbar */
.header .navbar a{
   font-size: 1.8rem;
   color: var(--main-color);
   padding: 1rem 3rem;
   border-radius: .5rem;
}

/* Hover effect for links in navbar */
.header .navbar a:hover{
   background-color: var(--main-color);
   color: var(--sub-color);
}

/* Styling for images in home section */
.home .box img{
   border-radius: .5rem;
   height: 60vh;
   width: 100%;
   object-fit: cover;
}

/* Styling for flex container in home section */
.home .box .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
   flex-wrap: wrap;
   margin-top: 1.5rem;
}

/* Styling for headings in home section */
.home .box .flex h3{
   font-size: 2.5rem;
   color: var(--sub-color);
   text-transform: capitalize;
}

/* Styling for previous button in Swiper */
.swiper-button-prev{
   left: 0%;
}

/* Styling for next button in Swiper */
.swiper-button-next{
   right: 0;
}

/* Styling for previous and next buttons in Swiper */
.swiper-button-next,
.swiper-button-prev{
   padding: 3rem 2rem;
   background-color: var(--white);
   top: 40%;
   opacity: .7;
}

/* Styling for icon in previous and next buttons */
.swiper-button-next::after,
.swiper-button-prev::after{
   color: var(--main-color);
   font-size: 2rem;
}

/* Hover effect for previous and next buttons in Swiper */
.swiper-button-next:hover,
.swiper-button-prev:hover{
   opacity: 1;
}

/* Styling for form flex container in availability section */
.availability form .flex{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
}

/* Styling for boxes in form flex container in availability section */
.availability form .flex .box{
   flex: 1 1 20rem;
}

/* Styling for paragraphs in boxes in form flex container in availability section */
.availability form .flex .box p{
   font-size: 2rem;
   color: var(--sub-color);
}

/* Styling for input
